.App {
  display: flex;
  flex-direction: column;
}

h1{
  text-align: center;
  color: red;
}


/* children part1 'formik' */
.forminput, .btnsubmit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;  

  width: 40%;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;  

}
.inputcomp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 80%;
   */
   

  
}
/* children part2 'subtasks */
.selecttasks,.btnmodal{
  display: flex;
  flex-direction:column;
  /* background-color: blueviolet; */
  align-items: center;  
 
}

/* children part3 'collapse' */


.collapsedisp{
  display: flex;
  flex-direction: column;

}
.co{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 
.disco{

  display: flex;
  flex-direction: column;
  align-items: center;  

}